extends layout

block content
  div.container
    h1 My workstation
    h2 ...
    div.pane
      div.bell
        div.face
          span.left-eye
          span.right-eye
          span.mouth.hidden
            span.cover
      div.tail

    //- div.btn
      //- img(src="images/binoculars.svg")
      //- img(src="images/detective.svg")
