extends layout

block content
  div.container
    h1 Where is Simon?
    div.pane
      div.bell
        div.face
          span.left-eye
          span.right-eye
      div.tail

    //- div.btn
      //- img(src="images/binoculars.svg")
      //- img(src="images/detective.svg")
