* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  padding: 50px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: 'Montserrat', sans-serif;
  background: #e5e5e5;
}


/*button {
  width: 100px;
  height: 100px;
  background: salmon;
  display: block;
  margin: auto;
  border-radius: 100px;
}


button:active {
  background: red;
}*/


/*.btn {
  position: relative;
  border: 5px solid black;
  width: 200px;
  height: 200px;
  margin: auto;
  padding: 20px;
  border-radius: 200px;
  background: white;
  box-shadow: 8px 8px 0px rgba(0,0,0,0.4)
}

.btn:active {
  box-shadow: 0px 0px 0px rgba(0,0,0,0.4)
}
*/

h1, h2 {
  text-align: center;
}

h2.green {
  color: #00FF00;
}

h2.red {
  color: red;
}

.pane {
  width: 150px;
  height: 140px;
  margin: 80px auto;
  position: relative;
  cursor: pointer;
}

.bell {
  width: 100%;
  height: 100%;
  background: #c5c5c5;
  border-radius: 100px 100px 0 0;
  position: relative;
  -webkit-transition: all 1s;
  -webkit-transform: translateZ(0);
}

.bell:after {
  content: "";
  background: #c5c5c5;
  width: 116%;
  height: 10%;
  position: absolute;
  bottom: 0;
  left: -8%;
  border-radius: 20px;
}

.bell:before {
  content: "";
  background: #e5e5e5;
  width: 20%;
  height: 20%;
  top: -16%;
  left: 50%;
  margin-left: -10%;
  position: absolute;
  border-radius: 100%;
  box-shadow: inset 0 0 0px 7px #c5c5c5;
  z-index: -1;
}

.tail {
    content: "";
    position: absolute;
    width: 30%;
    height: 30%;
    background: #adadad;
    bottom: -12%;
    left: 50%;
    margin-left: -15%;
    border-radius: 100%;
    z-index: -1;
    overflow: hidden;
}

.tail:after {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
    background: #909090;
}

.face {
    background: #909090;
    width: 25%;
    height: 25%;
    position: absolute;
    left: 50%;
    bottom: 20%;
    border-radius: 100%;
    margin-left: -12%;
}

.face:before {
    content: "";
    background: #c5c5c5;
    height: 50%;
    width: 100%;
    top: 0;
    position: absolute;
}

.left-eye, .right-eye {
    display: block;
    width: 10px;
    background: #909090;
    height: 10px;
    z-index: 6;
    position: absolute;
    border-radius: 100%;
    top: -12px;
}

.left-eye {
    left: -15px;
}

.right-eye {
    right: -15px;
}

.bell.active .left-eye, .bell.active .right-eye {
    width: 18px;
    height: 15px;
    top: -5px;
    box-shadow: 0 0 0 5px #909090;
    background: #c5c5c5;
}

.bell.active .left-eye {
    left: -18px;
}

.bell.active .right-eye {
    right: -18px;
}

.bell.active .left-eye:before, .bell.active .right-eye:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: #909090;
    top: 15%;
    left: -5px;
    z-index: 7;
    box-shadow: 23px 0 0 0 #909090;
}

.bell.active .left-eye:after, .bell.active .right-eye:after {
    content: "";
    position: absolute;
    background: #c5c5c5;
    top: 40%;
    left: -50%;
    width: 200%;
    height: 100%;
}

@-webkit-keyframes ringing {
    25% {-webkit-transform: rotate(5deg);}
    75% {-webkit-transform: rotate(-5deg);}
}

@-moz-keyframes ringing {
    25% {-moz-transform: rotate(5deg);}
    75% {-moz-transform: rotate(-5deg);}
}

.bell.active {
    -webkit-animation: ringing 0.5s infinite;
    -moz-animation: ringing 0.5s infinite;
}

.bell.active .face {
    height: 30%;
    top: 52%
}

.mouth {
  height: 25px;
  width: 50px;
  border-radius: 90px 90px 0 0;
  -moz-border-radius: 90px 90px 0 0;
  -webkit-border-radius: 90px 90px 0 0;
  background: #909090;
  display: block;
  top: 8px;
  position: absolute;
  left: -6px;
}

.mouth .cover {
  height: 25px;
  width: 40px;
  border-radius: 90px 90px 0 0;
  -moz-border-radius: 90px 90px 0 0;
  -webkit-border-radius: 90px 90px 0 0;
  background: #c5c5c5;
  display: block;
  top: 8px;
  position: absolute;
  left: 5px;
}

.hidden {
  display: none;
}
